<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Prueba Spring</title>
<link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="css/globalstyle.css" rel="stylesheet">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container" style="background-color: #44D2D8 ">
	    <div class="panel-body">
	      <h4>Ejemplo de springBoot Aplication</h4>
	 	  <h6><strong>Vista</strong> Boostrap - JQuery -Thymeleaf</h6>
	 	  <h6><strong>Controlador</strong> springBoot Servlet</h6>
	 	  <h6><strong>Modelo</strong> Dao/DTO-JDBCtemplate</h6>
	 	 </div>
	   
	  </div>


  
<script  type="text/javascript" src="/ejemploSpring/src/main/resources/static/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/ejemploSpring/src/main/resources/static/js/bootstrap.jss"></script>
</body>
</html>